@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#__next {
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#status {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #384959;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ol-rotate {
  display: none;
}

.ol-zoom {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.ol-zoom-in {
  padding: 0.6rem;
  border: 1px solid #bdddfc;
  cursor: pointer;
  background: #384959;
  color: white;
}

.ol-zoom-out {
  padding: 0.6rem;
  border: 1px solid #bdddfc;
  cursor: pointer;
  background: #384959;
  color: white;
}

.ol-attribution {
  padding-left: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ol-attribution-collapse {
  display: none;
}
